.features .box {
    padding: 10px;
    margin-bottom: 10px;
    /*background: white;*/
}
.features .box p {
    margin: 15px 0 10px 0;
}
.features .box h3 {
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    font-weight: 450;
}
.features .box p {
    word-spacing: 2px;
    /*transition: 0.5s;*/
}
.features .box i {
    font-size: 30px;
    margin-top: 20px;
    /*transition: 0.5s;*/
    opacity: 0;
}
.features .box:hover {
    background-color: #e3f0f3;
}

.features .box:hover h1 {
    /*color: #333030;*/
    color: black;
}
.features .box:hover h3 {
    color: #3d3d3d;
    font-weight: 500;

}
.features .box:hover p {
    /*color: white;*/
    color: black;
    font-weight: 600;
}
.features .box:hover i {
    color: white;
    opacity: 1;
}
.features .content-gridd{
    display: grid;
    width: 100%;
}
.leftt{
    width: 20%;
}
.rightt{
    width: 100%;
    /*margin-right: -30px;*/
}
/*.features .right_img img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 20%;*/
/*    width: 50px;*/
/*}*/
@media (max-width: 768px) {
    .features .box{
        height: 100%;
        margin-bottom: 20px;
    }
    .features .leftt {
        width: 100%;
        /*margin-left: 10px;*/
        /*margin-top: 40px;*/
    }
    .features .rightt {
        width: 100%;
        /*margin-right: -30px;*/

    }
    .features .box h2 {
        margin: 0 0 0 0;
        font-size: 20px;
        line-height: 22px;

    }


    .features .f_flex {
        flex-direction: column;
        /*flex-direction: column-reverse;*/
    }
    /*.features .right_img {*/
    /*    width: 100%;*/
    /*    height: 54vh;*/
    /*}*/
}
