
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0f3;
}
/*.object,*/
/*.pdf{*/
/*  display: flow;*/
/*  height: 1000px;*/
/*}*/
.container{
  max-width: 95%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
.f_flex{
  display: flex;
  /*justify-content: flex-start;*/
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
button{
  border: none;
  outline: none;
  background-color: none;
}
.btn_shadow{
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;
  cursor: pointer;
  color: #000;
}
.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow:hover {
  background: #10343d;
  color: white;
  transform: translateY(-10px);
}
.box_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}
.row,
.left,
.right{
  width: 50%;
}
/*.leftt {*/
/*  width: 10%;*/
/*  !*margin-top: 20px;*!*/
/*  !*margin-right: 20px;*!*/
/*}*/
/*.rightt {*/
/*  width: 50%;*/
/*}*/
.top {
  margin-top: 30px;
}
.mtop {
  margin-top: 40px;
}
.heading {
  margin: 50px 0 50px 0;
}
.heading h4 {
  color: #3fcdf1;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}
h1 {
  color: #3c3e41;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
.gridd {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
p {
  color: #3c3e41;
}
.text-center {
  text-align: center;
}
.primary_color {
  color: #10343d;
}